<h3><%= @channel.callsign %> </h3>

<p><%= @channel.name %> </p>
<p>just $<%= @channel.price_per_month %> per month</p>
<% if subscribed? %>
  <p>You and <strong> <%= @channel.users.count%> </strong> already signed up!</p>
<% else %>
  <p>Hurry up! <strong> <%= @channel.users.count%> </strong> already signed up!</p>
<% end %>

<% if logged_in? && subscribed? %>
  <form action="/users/<%=current_user.id%>/<%=@channel.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Unsubscribe">
  </form>
<% else %>
  <form action="/users/<%=current_user.id%>/<%=@channel.id%>" method="post">
    <input type="submit" value="Subscribe!">
  </form>
<% end %>
  <p><a href="/channels">All channels</a> </p>

